/* Wrappers and Bootstrap overrider */
body{
    background: url(../images/brickwall.png) left top repeat;
    font-family:'Verdana', 'sans-serif';
}

ul {
    list-style: none;
    padding: 0;
}

#overall-wrapper{
    margin-top: -1px;
    margin-left : 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border: 1px solid #aaaaaa;
    background-color: #FFFFFF;
}

#overall-wrapper .row{
    margin-left: auto;
    margin-right: auto;
}

/* Overall header */
#overall-header{
    position: relative;
    border-bottom: 1px solid #555555;
    padding: 13px 0 13px 0;
}

#overall-header-logo{
    display: inline-block;
    float: left;
}

#overall-header-logo img {
  width: 15vw;
  min-width: 100px;
  max-width: 200px;
}

#overall-header-title{
    display: inline-block;
    float: left;
    margin: 30px 0 0 20px;
}

#overall-header-title h1{
    margin: 0px;
    font-weight: bold;
    /*font-size: 24px;*/
    font-size: 2vw;
}

#overall-header-title p{
    margin: 0px;
    /*font-size: 18px;*/
    font-size: 1.5vw;
}

@media (min-width: 1300px) {
  #overall-header-title h1{
    font-size: 24px;
  }

  #overall-header-title p{
    font-size: 20px;
  }
}

@media (max-width: 750px){
   #overall-header-title h1{
        font-size: 16px;
    }
    #overall-header-title p{
        font-size: 14px;
    }
}

.userName {
    padding-right: 10px;
    padding-top: 5px;
}

.dropdown {
    padding-right: 10px;
}

.btn .caret {
    margin-left: 5px;
}

#overall-header-info-wrapper a:link,
#overall-header-info-wrapper a:visited,
#overall-header-info-wrapper a:hover, 
#overall-header-info-wrapper a:active {
    color: #000000;
}


#overall-header-logout-link a:link,
#overall-header-logout-link a:visited,
#overall-header-logout-link a:hover, 
#overall-header-logout-link a:active {
    color: #000000;
    text-decoration: none;
}

#overall-header-feedback-block{
    display: inline-block;
    font-size: 11px; 
    line-height: 11px;
    white-space: nowrap;
    text-align: left;
}

#overall-header-feedback-block p{
    margin-bottom: 5px;
}

#overall-header-feedback-title{
    text-decoration: underline; 
    padding: 0px;
    white-space: nowrap;
    font-size: 14px;
}

#overall-header-title .tagline {
    font-size: 16px;
    padding-top: 5px;
    margin-top: 6px;
}



/* Overall menu */
#overall-menu-button-wrapper{
    padding: 0px;
}

#overall-menu{
    border: none;
    border-bottom : 1px solid #555555;
    padding: 0px;
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
    min-height: inherit;
}

#overall-menu .overall-menu-button{
    display      : inline-block;
    float        : left;
    min-width    : 90px;
    height       : 40px;
    margin-bottom: 0px;
    border-right : 1px solid #333333;
    padding      : 10px 15px;
    text-align   : center;
    font-weight  : bold;
}

#overall-menu .active{
    background-color: #F2F0F1;
}

#overall-menu a:link,
#overall-menu a:visited,
#overall-menu a:hover, 
#overall-menu a:active {
    color            : #333333;
    text-decoration  : none;
}

#overall-menu-button-wrapper p:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #777; 
}

#overall-menu li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #overall-menu li>a {
    padding-left: 0.6vw;
    padding-right: 0.6vw;
  }
}

/* Form styling */

h3 {
    font-size: 20px;
    margin-bottom: 0px;
}

.bg-section {
  background-color: #fafafa;
  padding: 10px;
  margin-top: 15px;
  text-transform: uppercase;
}

.panel-body .activity-row {
    margin-left: -15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-right: -15px;
}

/* Overall footer */
#overall-footer {
    background-position: 100% 0;
    min-height: 50px;
}

#overall-footer-links-wrapper{
    margin: 10px 0 20px 0;
    padding: 0;
}

#overall-footer-links-wrapper a {
    display      : inline-block;
    float        : left;
    padding      : 0 10px 0 10px;
    font-size    : 13px;
    border-right : 1px solid #333333;
}

#overall-footer-links-wrapper a:last-child {
    border-right : none;
}

#overall-footer-links-wrapper a:link,
#overall-footer-links-wrapper a:visited,
#overall-footer-links-wrapper a:hover, 
#overall-footer-links-wrapper a:active {
    color : #333333;
}

/* Media Query */
@media screen and (max-width: 700px) {

    body {
        background: none;
        font-size: 180%;
        width: auto;
    }

    #overall-wrapper {
        margin: 0;
        border: none;
    }

    #overall-header-title {
        margin-top: 34px;
    }

    #overall-header-info-wrapper{
        margin-left: 30px;
        margin-bottom: 10px;
        min-height: 30px;
    }

    #overall-header-feedback-block p{
        font-size: 10px;
        display: inline;
        float: left;
        margin-right: 10px;
    }

    /*.xs-spacer {
        margin-bottom: 10px;
    }*/

    #overall-footer {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    #overall-menu .overall-menu-button {
        display: block;
        width: 100%;
        border-right: none;
    }

    #overall-menu-button-wrapper p:last-child {
        border-left: none;
    }
}

#overall-footer img {
    width: 100%;
}

.latest-photo {
    width: 100%;
}

.tooltip-inner {
    background-color: #777;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #777;
}

.progress-bar-orange, .label-orange {
    background-color: #E87A18;
}

.media .progress {
    margin-bottom: 0;
}

.progress-bar-default {
    background-color: gray;
}

.subproject-progress {
    margin-bottom: 9px;
}

.legend {
    margin-bottom: 14px;
}

@media print {
    .hidden-print {
        display: none;
    }

    #overall-header-logo img {
        width: 35px;
    }

    #overall-wrapper {
        margin: 0;
    }

    body {
        font-size: 100%;
    }

    h3 {
        font-size: 120%;
    }

    .progress-bar, .label {
        -webkit-print-color-adjust: exact;
    }

    table {
        page-break-inside: avoid;
    }
}



/*range input style*/
.range-slider {
  padding-top: 6px;
}

.input-range-SIC, .input-range-W, .input-range-M  {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}
.input-range-SIC::-webkit-slider-thumb,
.input-range-W::-webkit-slider-thumb,
.input-range-M::-webkit-slider-thumb   {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #337ab7;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.input-range-SIC::-moz-range-thumb,
.input-range-W::-moz-range-thumb,
.input-range-M::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #337ab7;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-value-SIC,
.range-value-W,
.range-value-M {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #999;
  padding: 3px 6px;
  margin-left: 7px;
  margin-top: -4px;
}

.range-value-SIC:after,
.range-value-W:after,
.range-value-M:after  {
  content: ' %';
}


::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

/*end of range input style*/



label ~ .badge {
  margin-top: 6px;
}

.position-adjust {
  padding-top: 0.7em;
}

@media (max-width:767px) {
.position-adjust {
    padding-top: 0.5em;
  }
}

td {
  text-align: center;
}

td:first-child {
  text-align: inherit;
}

th {
  text-align: center;
}

th:first-child {
  text-align: left;
}

.closer-top {
  margin-top: -10px;
}

@media screen and (max-width: 992px) {
  .date-created:before {
  content: "Date Created: ";
  }

  .date-resolved:before {
  content: "Date Resolved: ";
  }

  .yetResolved:before {
    content: "Resolved? "
  }
}


.tagline {
  background-color: #8f5444;
  background-image:
    linear-gradient(
      to top right,
      #6f3424 , #af7464 80%
    );
  color: white;
  margin-bottom: -13px;
  padding-top: 9px;
  padding-left: 33px;
  padding-bottom: 0px;
  margin-top: 10px;
  font-size: 1em;
  letter-spacing: 0.03em;
}


@media screen and (max-width: 768px) {
  .tagline {
    font-size: 0.7em;
  }
}

/*error page style*/
#error-page{
  background-color: blue;
  background: linear-gradient(rgba(16,110,192,0.8), rgba(0,0,0,0.4)) ,url(../images/underwater.jpg) center center no-repeat;
  background-size: cover; 
}

#error-page #overall-header {
  background-color: rgba(255,255,255,0.5);
}

.error-message {
  height: 1000px;
}

.error-message  p {
  font-size: 1.4em;
  margin-top: 50px; 
  font-weight: normal;
  line-height: 1.3em;
  color: white;
}

.error-message p a {
  text-decoration: underline;
  color: white;
}

/* text style helper */
.text-underline{
    text-decoration: underline;
}
.text-bold{
    font-weight: bold;
}

.glyph-info {
    color: #337ab7;
}
















