/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

ul {
    padding-left: 0px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
    line-height: 1.3em;
    margin: 0 0 10px;
    padding: 0 0;
}

label {
    padding-top: 7px;
    {
.hr-taarifa {
  border-top: 1px solid #a7a7a7 !important;
}

.total {
    border-top: 1px solid #000000 !important;
}

/* col reset */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
padding-left: 0px !important;
}
.form-nomg {
margin-right: 15px !important;
margin-left: 15px !important;
}

.btn-edit {
    display: inline-block;
    float: right;
    position: relative;
    text-decoration: underline;
    bottom: 55px;
    margin-bottom: 0;
}

.row-spacer {
    margin-top:20px;
}

.img-thumbnail {
    height: 247px;
    width: 365px;
}

.grey-bg {
    background-color: #f1f2f2;
    border: 1px solid #c7c8ca;
}

.dolar-help {
    position: relative;
    top: 10px;
}