<div class="row" id="overall-header">
      
      <div class="col-xs-12">
        <div id="overall-header-logo">
          <img src="images/Emblem_of_Papua_New_Guinea.png" alt=""/>
        </div>

        <div id="overall-header-title">
          <h1>Rural Service Delivery and Local Governance Project</h1>
          <p>The Department of Provincial and Local Government Affairs</p>
        </div>
      </div>

      <div class="col-md-12 col-xs-12 tagline">
        <p>The objective of this programme is to improve access to basic services in rural areas and the production and productivity of farmers</p>
      </div>

    </div>

    <nav class="navbar navbar-default" id="overall-menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="home-tab"><a href="Home.html">Home</a></li>
          <li><a href="about.html">About RSDLGP</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forms <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id=""><a href="wardPriority.html">Ward Prioritisation</a></li>
              <li id=""><a href="LLGApproval.html">LLG Approval</a></li>
              <li id=""><a href="Implementation.html">Subproject Implementation</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="export-parameter.html">Generate Output</a></li>
          <li class=""><a href="http://125.227.249.37:9501/download/apks/argo_150505.apk">Download App</a></li>
          <li><a id="overall-header-logout-link" href="Login.html">Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>