<div class="map-bubble">
	<div class="map-bubble-row">
		<div class="map-bubble-img-wrapper">
			<img class="map-bubble-img" ng-src="<% subprojects.pre_img %>" alt="">
		</div>
		<p class="map-bubble-content">
			<a href="<% subprojects.link %>"><% subprojects.name %></a>
		</p>
	</div>
</div>