/* Search parameters */
.search-parameters { background: #404040; color: #fff; padding-top: 15px; }
.search .search-parameters { height: 500px;}
.search-parameters p { font-size: 14px; font-weight: bold; line-height: 1.5; margin: 0 0 15px; }
.search-parameters .form-row { margin-bottom: 15px; }
.search-parameters input[type=search] { background: #fff; padding: 8px 5px 6px; border: 1px solid #424242; outline: none; font-size: 10px; text-transform: uppercase; width: 222px; float: left; }
.search-parameters select { padding: 5px; width: 100%; border-radius: 5px; outline: none; -webkit-appearance: none; background: url(../images/select-arrows.png) 97.5% center no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,226,225,1) 100%); }
.search-parameters select:disabled { background: url(../images/select-disabled-arrows.png) 97.5% center no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,226,225,1) 100%); }
.search-parameters {position: relative;}
.search-parameters a {margin-bottom: 16px;}
.show-map {position: absolute; bottom: 0; left: 0; margin: 0 15px 15px 15px; right: 0; font-size: 0.95em;}

/*search section*/
.search .section-title { width: 325px; height: 90px; padding: 30px 0 0; margin: 0 auto 35px; background: url(../images/title-background-light-blue.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; position: relative; z-index: 100;}
.search .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.search .subproject_search {
}
.search .subproject_search h5 {
	font-size: 18px;
	padding-bottom: 9px;
	border-bottom: 2px solid;
}
/* Slide show*/
#carousel { margin: 0 -15px; height: 500px; overflow: hidden;}

/* Projects map */
.projects-map { margin: 0 -15px; background: #f7f7f7; height: 500px; overflow: hidden; background: url(../images/maps/map_img.jpg) center top no-repeat; background-size: cover; top: 0; left: 0; z-index: 100;}

/* Project views settings*/
.view-settings { margin: 25px 15px; }
.view-settings .swap-views li { float: left; margin-right: 10px; border: 1px solid #f2f0f1; border-radius: 5px; cursor: pointer; padding: 5px 10px; }
.view-settings .swap-views li.active { background: #f2f0f1; }
.view-settings .records-counter { text-align: center; padding: 5px 0; }
.view-settings .page-nav li { float: left; margin-right: 10px; cursor: pointer; padding: 0 5px; }
.view-settings .page-nav li a { width: 100%; height: 100%; display: block; font-weight: bold; }
.view-settings .page-nav li.active a { text-decoration: underline; }
.view-settings .page-nav li.prev a, .view-settings .page-nav li.next a { text-indent: -99999px; } 
.view-settings .page-nav li.prev { background: url(../images/arrow-prev.png) center center no-repeat; }
.view-settings .page-nav li.next { background: url(../images/arrow-next.png) center center no-repeat; }

/*#overall-menu-button-wrapper p:last-child {
    display: none;
}*/


/* INFO SECTION SETTINGS */
.info.row {padding-top: 40px;}
.info .section-title { width: 325px; height: 90px; padding: 20px 0 0; margin: 20px auto 50px; background: url(../images/title-background-light-orange.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.info .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.info .section-title h4 { font-size: 15px; font-weight: bold; }
.info .section-title a { color: #fff; text-decoration: underline; }
.info .tabbed-content { }
.info .tabbed-content ul { width: 100%; margin-bottom: 50px; }
.info .tabbed-content ul li { width: 25%; float: left; text-align: center; }
.info .tabbed-content ul li a { width: 100%; height: 100%; display: block; }
.info .tabbed-content ul li a h2 { font-size: 19px; font-weight: bold; color: #424242; margin: 15px 0 0; text-transform: uppercase; }
.info .tabbed-content .info-block { }
.info .tabbed-content .info-block p { line-height: 1.5; }
.info .tab-icon { height: 90px; width: 100%; display: block; }
.info .tab-beneficiaries .tab-icon { background: url(../images/icon-1_Beneficiaries_A.png) center top no-repeat; }
.info .tab-sectors .tab-icon { background: url(../images/icon-3_Sectors_A.png) center top no-repeat; }
.info .tab-status .tab-icon { background: url(../images/icon-4_ProjectStatus_A.png) center top no-repeat; }
.info .tab-finances .tab-icon { background: url(../images/icon-5_ProjectFinances_A.png) center top no-repeat; }
.info .tab-beneficiaries.active .tab-icon, .info .tab-participants.active .tab-icon, .info .tab-sectors.active .tab-icon, .info .tab-status.active .tab-icon, .info .tab-finances.active .tab-icon { background-position: center -90px; }

.info .tab { padding: 30px 30px 30px ; position: relative; }
.info .tab:after { content: ""; position: absolute; top: -29px; border-style: solid; border-width: 0 30px 30px; border-color: #f8e0c6 transparent; display: block; width: 0; z-index: 1; }
.info .beneficiaries:after { left: 10%; }
.info .sectors:after { left: 35%;  }
.info .status:after { left: 60%;  }
.info .finances:after { left: 85%;  }
.info .beneficiaries { background: #f8e0c6 url(../images/1_Beneficiaries_B.png) -90px 30px no-repeat; }
.info .sectors { background: #f8e0c6 url(../images/3_Sectors_B.png) -90px 30px no-repeat; }
.info .status { background: #f8e0c6 url(../images/4_ProjectStatus_B.png) -90px 30px no-repeat; }
.info .finances { background: #f8e0c6 url(../images/5_ProjectFinances_B.png) -80px 10px no-repeat; }

/* REPORTING SECTION SETTINGS */
.reporting { padding: 15px; }
.reporting .section-title { width: 325px; height: 90px; padding: 30px 0 0; margin: 10px auto 35px; background: url(../images/title-background-green.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.reporting h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px;}
.reporting .monitoring-reports { width: 49%; }
.reporting .rdp-reports { width: 49%; }
.reporting table { width: 100%; }
.reporting table td { padding: 5px 0; }
.reporting table .header { color: #999; border: none; }
.reporting table .report-title { width: 60%; }
.reporting table .report-location { width: 20%; }
.reporting table .report-date { width: 20%; text-align: right; }

/* ABOUT SECTION SETTINGS */
.about { /*background-color: #FFFFF3;*/background: url(../images/honiara_light.jpg) left 0 no-repeat; padding: 40px 8% 50px; /*margin-bottom: -35px;*/ position: relative; text-align: center; background-size: cover;}
.about .info-block p {font-size: 1.6em; color: #0099cc;}
.about .info-block { padding: 5%; }
.component h5 {font-weight: bold;}
.about .info-block .component {padding: 10px 50px;}
.about .info-block:before, .about .info-block:after {
	content: "";
	position: absolute;
	border-top: 3px solid #0099cc;
	width: 10%;
	margin-left: -5%;
}

.about .info-block:before {
	margin-top: -3%;
}

.about .info-block:after {
	margin-top: 3%;
}

/*.about { padding: 0 15px; margin-bottom: 50px; background: url(../images/honiara.jpg) left 0 no-repeat; height: 530px; position: relative; }
.about .section-title { width: 325px; height: 90px; padding: 30px 0 0; margin: 0 auto 35px; background: url(../images/title-background-light-blue.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.about .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.about .info-block { background: url(../images/background-about-info-block.png) left top repeat; color: #fff; padding: 20px; width: 460px; font-size: 14px; line-height: 1.5; font-weight: 300; position: absolute; margin-top: 25px; right: 25px; }
*/.about .info-block h3 { margin-top: 0}

/* Projects list on subproject page*/
.projects-list { background: #fff; overflow: hidden; }
.projects-list .list-header { font-weight: bold; margin-bottom: 10px; margin-top: 10px;}
.project-summary { margin-bottom: 10px; padding: 10px; border: 1px solid #777; }
.project-summary p{ margin: 0;}
.media-heading {font-weight: bold; margin-bottom: 7px;}
.province-title { padding: 5px 15px; background: #f2f0f1; margin: 0 0 10px; }
/*.projects-list .map-view { margin: 0 15px 10px; height: 500px; background: url(../images/maps/map-placeholder.jpg) top no-repeat; background-size: cover;  }
.projects-list .project-summary { margin-bottom: 10px; padding: 10px; border: 1px solid #777; }
.projects-list .project-summary .project-thumbnail { margin-right: 10px; }
.projects-list .project-summary .project-meta { height: 25px; }
.projects-list .project-summary .project-meta .project-name { font-weight: bold; }
.projects-list .project-summary .project-meta .project-timestamp { color: #777; }
.projects-list .project-summary p { line-height: 1.25; }
.projects-list .project-summary p a { text-decoration: underline; }
*/

/* FOOTER SETTINGS */
.footer { background: url(../images/powered-by-taarifa.png) right bottom no-repeat; }
.footer .footer-menu { margin-bottom: 20px; }
.footer .footer-menu li { float: left; padding: 5px 0; }
.footer .footer-menu li a { border-right: 1px solid #777; padding: 0 10px 0 10px; }
.footer .footer-menu li:first-child a { padding-left: 15px; }
.footer .footer-menu li:last-child a { border: none; }

@media (min-width: 600px) and (max-width: 800px) {
.info .beneficiaries { background-size: auto 60%; background-position: -50px bottom; }
.info .participants { background-size: auto 60%; background-position: -50px bottom; }
.info .sectors { background-size: auto 60%; background-position: -50px bottom; }
.info .status { background-size: auto 60%; background-position: -50px bottom; }
.info .finances { background-size: auto 60%; background-position: -30px bottom; }
}

