.main-menu ul li:last-child {
	float: right;
	border-right: none;
	border-left: 1px solid #777; 
}

.projects-map {
	position: relative;
}

.map-title {
	background-color: rgba(20,0,0,0.65);
	margin: 15px 15px 25px 15px;
	padding: 15px 15px 20px 15px;
	width: 45%;
}

.title {
	font-size: 20px;
	line-height: 1.4em;
	color: white;
	padding-bottom: 20px;
}


.learn-more {
	padding: 5px 10px;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.show-map {
	margin: 15px;
	background-color: rgb(230,153,65);
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
}
