/* Import CSS reset */
@import url('reset.css');

/* Import browser specific overrides */


/* Font and text settings settings */ 
body { font-family: Verdana, sans-serif; font-size: 13px; color: #333; }

/* GENERAL SETTINGS */
.container {
	padding-left: 0;
	padding-right: 0;
}

/* floats */
.left { float: left; }
.right { float: right; }

/* floats reset */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

/* page background */
body { background: url(../images/background-math-grid.jpg) left top repeat; }

/* content area general settings */
.container { width: 90%; min-height: 250px; margin: 40px auto; background: #fff; border: 1px solid #252525; }
a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline; }
a.underline { text-decoration: underline; }

/* HEADER SETTINGS */
.header { padding: 10px; border-bottom: 1px solid #777; }
.header .logo { padding: 0 10px; }
.header .tagline { padding: 0 10px; }
.header .tagline h1 { font-size: 30px; margin: 30px 0 5px; font-weight: bold;}
.header .tagline p { font-size: 14px; }
.header .info-block { }
.header .info-block .contact-info { line-height: 1.5; }
.header .info-block .user-login { text-align: right; margin-bottom: 10px; }
.header .info-block .block-title { font-size: 14px; text-decoration: underline; margin-bottom: 5px; }
.header .info-block p { margin-bottom: 5px; font-size: 11px;}

/* MAIN MENU SETTINGS */
.main-menu { }
.main-menu ul { font-size: 14px; font-weight: bold; }
.main-menu ul li { float: left; padding: 14px 15px; border-right: 1px solid #777; text-align: center; }
.main-menu ul li.active { background: #f2f0f1; }

/* FORM */
.form { border-top: 1px solid #777; margin-bottom: 15px; }

/* INSERT */
.insert h3 {
	font-size: 20px;
}

.insert .create-new {
	margin-top: 0.5em;
}

.insert .section-name{
	padding-bottom: 35px;
}

/* FOOTER SETTINGS */
.footer { background: url(../images/powered-by-taarifa.png) right bottom no-repeat; }
.footer .footer-menu { margin-bottom: 20px; }
.footer .footer-menu li { float: left; padding: 5px 0; }
.footer .footer-menu li a { border-right: 1px solid #777; padding: 0 10px 0 10px; }
.footer .footer-menu li:first-child a { padding-left: 15px; }
.footer .footer-menu li:last-child a { border: none; }


