/* Internet Explorer specific rules */

	.project-search .search-parameters select { background: #fff\0;; }
	.project-search .search-parameters select option { padding: 2px 0\0; }


/* Firefox specific rules */
@-moz-document url-prefix() {
	.info .tabbed-content .info-block { -moz-column-count: 2; -moz-column-gap: 25px; }
	.project-search .search-parameters input[type="search"] { padding: 8px 5px 9px !important; }
	.project-search .search-parameters select { background: #fff !important; }
	.project-search .search-parameters select option { padding: 2px 0 !important; }
}