/* Import CSS reset */
@import url('reset.css');

/* Import browser specific overrides */
@import url('overrides.css');

/* Font and text settings settings */ 
body { font-family: Verdana, sans-serif; font-size: 13px; color: #333; }

/* GENERAL SETTINGS */

/* floats */
.left { float: left; }
.right { float: right; }

/* floats reset */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

/* page background */
body { background: url(../images/background-math-grid.jpg) left top repeat; }

/* content area general settings */
.container { width: 90%; min-height: 250px; margin: 40px auto; background: #fff; border: 1px solid #252525; }
a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline; }
a.underline { text-decoration: underline; }

/* HEADER SETTINGS */
.header { padding: 10px; border-bottom: 1px solid #777; }
.header .logo { padding: 0 10px; }
.header .tagline { padding: 0 10px; }
.header .tagline h1 { font-size: 30px; margin: 30px 0 5px; }
.header .tagline p { font-size: 14px; }
.header .info-block { }
.header .info-block .contact-info { line-height: 1.5; }
.header .info-block .user-login { text-align: right; margin-bottom: 10px; }
.header .info-block .block-title { font-size: 14px; text-decoration: underline; margin-bottom: 5px; }
.header .info-block p { margin-bottom: 5px; font-size: 11px;}

/* MAIN MENU SETTINGS */
.main-menu { }
.main-menu ul { font-size: 14px; font-weight: bold; }
.main-menu ul li { float: left; padding: 14px 15px; border-right: 1px solid #777; text-align: center; }
.main-menu ul li.active { background: #f2f0f1; }


/* PROJECT SEARCH */
.project-search { border-top: 1px solid #777; margin-bottom: 15px; }
/* Search parameters */
.project-search .search-parameters { background: #404040; width: 240px; height: 500px; padding:15px; color: #fff; }
.project-search .search-parameters p { font-size: 14px; font-weight: bold; line-height: 1.5; margin: 0 0 15px; }
.project-search .search-parameters .form-row { margin-bottom: 15px; }
.project-search .search-parameters input[type=search] { background: #fff; padding: 8px 5px 6px; border: 1px solid #424242; outline: none; font-size: 10px; text-transform: uppercase; width: 180px; float: left; }
.project-search .search-parameters input[type=submit] { padding: 7px 5px 5px; width: 100%; border: 1px solid #424242; border-left: none; width: 30px; float: left; text-indent: -99999px; background: #fff url(../images/icon-search.png) center center no-repeat; }
.project-search .search-parameters select { padding: 5px; width: 100%; border-radius: 5px; outline: none; -webkit-appearance: none; background: url(../images/select-arrows.png) 97.5% center no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,226,225,1) 100%); }
.project-search .search-parameters select:disabled { background: url(../images/select-disabled-arrows.png) 97.5% center no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,226,225,1) 100%); }
/* Projects map */
.project-search .projects-map { background: #f7f7f7; height: 500px; overflow: hidden; background: url(../images/maps/map_img.jpg) center top no-repeat; background-size: cover; }
/* Projects list */
.project-search .projects-list { background: #fff; overflow: hidden; }
.project-search .projects-list .list-header { padding: 15px; font-weight: bold; margin-bottom: 50px; }
.project-search .projects-list .section-title { padding: 5px 15px; background: #f2f0f1; margin: 0 0 10px; }
.project-search .projects-list .map-view { margin: 0 15px 10px; height: 500px; background: url(../images/maps/map-placeholder.jpg) top no-repeat; background-size: cover;  }
.project-search .projects-list .list-view { margin: 0 15px 10px; }
.project-search .projects-list .project-summary { margin-bottom: 10px; padding: 10px; border: 1px solid #777; }
.project-search .projects-list .project-summary .project-thumbnail { margin-right: 10px; }
.project-search .projects-list .project-summary .project-meta { height: 25px; }
.project-search .projects-list .project-summary .project-meta .project-name { font-weight: bold; }
.project-search .projects-list .project-summary .project-meta .project-timestamp { color: #777; }
.project-search .projects-list .project-summary p { line-height: 1.25; }
.project-search .projects-list .project-summary p a { text-decoration: underline; }
/* Project views settings*/
.view-settings { margin: 25px 15px; }
.view-settings .swap-views li { float: left; margin-right: 10px; border: 1px solid #f2f0f1; border-radius: 5px; cursor: pointer; padding: 5px 10px; }
.view-settings .swap-views li.active { background: #f2f0f1; }
.view-settings .records-counter { text-align: center; padding: 5px 0; }
.view-settings .page-nav li { float: left; margin-right: 10px; cursor: pointer; padding: 0 5px; }
.view-settings .page-nav li a { width: 100%; height: 100%; display: block; font-weight: bold; }
.view-settings .page-nav li.active a { text-decoration: underline; }
.view-settings .page-nav li.prev a, .view-settings .page-nav li.next a { text-indent: -99999px; } 
.view-settings .page-nav li.prev { background: url(../images/arrow-prev.png) center center no-repeat; }
.view-settings .page-nav li.next { background: url(../images/arrow-next.png) center center no-repeat; }

/* INFO SECTION SETTINGS */
.info { padding: 0 15px 50px; }
.info .section-title { width: 325px; height: 90px; padding: 20px 0 0; margin: 0 auto 50px; background: url(../images/title-background-light-orange.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.info .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.info .section-title h4 { font-size: 15px; font-weight: bold; }
.info .section-title a { color: #fff; text-decoration: underline; }
.info .tabbed-content { }
.info .tabbed-content ul { width: 100%; margin-bottom: 50px; }
.info .tabbed-content ul li { width: 20%; float: left; text-align: center; }
.info .tabbed-content ul li a { width: 100%; height: 100%; display: block; }
.info .tabbed-content ul li a h2 { font-size: 19px; font-weight: bold; color: #424242; margin: 15px 0 0; text-transform: uppercase; }
.info .tabbed-content .info-block { column-count: 2; -webkit-column-count: 2; column-gap: 25px; -webkit-column-gap: 40px; line-height: 1.5; }
.info .tabbed-content .info-block p { line-height: 1.5; }
.info .tab-icon { height: 90px; width: 100%; display: block; }
.info .tab-beneficiaries .tab-icon { background: url(../images/icon-1_Beneficiaries_A.png) center top no-repeat; }
.info .tab-participants .tab-icon { background: url(../images/icon-2_Participants_A.png) center top no-repeat; }
.info .tab-sectors .tab-icon { background: url(../images/icon-3_Sectors_A.png) center top no-repeat; }
.info .tab-status .tab-icon { background: url(../images/icon-4_ProjectStatus_A.png) center top no-repeat; }
.info .tab-finances .tab-icon { background: url(../images/icon-5_ProjectFinances_A.png) center top no-repeat; }
.info .tab-beneficiaries.active .tab-icon, .info .tab-participants.active .tab-icon, .info .tab-sectors.active .tab-icon, .info .tab-status.active .tab-icon, .info .tab-finances.active .tab-icon { background-position: center -90px; }

.info .tab { padding: 30px 30px 30px 230px; position: relative; }
.info .tab:after { content: ""; position: absolute; top: -29px; border-style: solid; border-width: 0 30px 30px; border-color: #f8e0c6 transparent; display: block; width: 0; z-index: 1; }
.info .beneficiaries:after { left: 8%; }
.info .participants:after { left: 28%;  }
.info .sectors:after { left: 48%;  }
.info .status:after { left: 68%;  }
.info .finances:after { left: 88%;  }
.info .beneficiaries { background: #f8e0c6 url(../images/background-1_Beneficiaries_A.png) left bottom no-repeat; background-size: auto 90%; }
.info .participants { background: #f8e0c6 url(../images/background-2_Participants_A.png) left bottom no-repeat; background-size: auto 90%; }
.info .sectors { background: #f8e0c6 url(../images/background-3_Sectors_A.png) left bottom no-repeat; background-size: auto 90%; }
.info .status { background: #f8e0c6 url(../images/background-4_ProjectStatus_A.png) left bottom no-repeat; background-size: auto 90%; }
.info .finances { background: #f8e0c6 url(../images/background-5_ProjectFinances_A.png) left bottom no-repeat; background-size: auto 90%; }


/* NEWS SECTION SETTINGS */
.news { padding: 0 15px 50px; background: #c0e4e2 url(../images/background-section-title.png) left top repeat-x; margin-bottom: 35px; }
.news .section-title { width: 325px; height: 90px; padding: 30px 0 0; margin: 0 auto 35px; background: url(../images/title-background-green.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.news .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.news .section-title h4 { font-size: 15px; font-weight: bold; }
.news .section-title a { color: #fff; text-decoration: underline; }
.news .latest-news { }
.news .latest-news ul { width: 100%; margin-bottom: 25px; }
.news .latest-news ul li { width: 33%; float: left; text-align: justify; padding: 0 10px; font-size: 16px; }
.news .latest-news ul li p { margin-bottom: 10px; }
.news .latest-news ul li .read-more { font-size: 16px; font-weight: bold; color: #424242; }

/* REPORTING SECTION SETTINGS */
.reporting { padding: 15px; margin-bottom: 50px; }
.reporting h2 { font-size: 16px; font-weight: bold; color: #424242; border-top: 1px solid #424242; padding-top: 20px; text-transform: uppercase; margin-bottom: 10px; }
.reporting .monitoring-reports { width: 49%; }
.reporting .rdp-reports { width: 49%; }
.reporting table { width: 100%; }
.reporting table td { padding: 5px 0; }
.reporting table .header { color: #999; border: none; }
.reporting table .report-title { width: 60%; }
.reporting table .report-location { width: 20%; }
.reporting table .report-date { width: 20%; text-align: right; }

/* ABOUT SECTION SETTINGS */
.about { padding: 15px; margin-bottom: 50px; background: url(../images/background-about-section.jpg) left 15px no-repeat; height: 410px; position: relative; }
.about .section-title { width: 325px; height: 90px; padding: 30px 0 0; margin: 0 auto 35px; background: url(../images/title-background-light-blue.png) center top no-repeat; text-align: center; color: #fff; text-transform: uppercase; }
.about .section-title h2 { font-size: 19px; font-weight: bold; margin: 0 0 7px; }
.about .info-block { background: url(../images/background-about-info-block.png) left top repeat; color: #fff; padding: 20px; width: 420px; font-size: 14px; line-height: 1.5; font-weight: 300; position: absolute; top: 125px; right: 25px; }

/* FOOTER SETTINGS */
.footer { background: url(../images/powered-by-taarifa.png) right bottom no-repeat; }
.footer .footer-menu { margin-bottom: 20px; }
.footer .footer-menu li { float: left; padding: 5px 0; }
.footer .footer-menu li a { border-right: 1px solid #777; padding: 0 10px 0 10px; }
.footer .footer-menu li:first-child a { padding-left: 15px; }
.footer .footer-menu li:last-child a { border: none; }

@media (min-width: 600px) and (max-width: 800px) {
.info .beneficiaries { background-size: auto 60%; background-position: left bottom; }
.info .participants { background-size: auto 60%; background-position: left bottom; }
.info .sectors { background-size: auto 60%; background-position: left bottom; }
.info .status { background-size: auto 60%; background-position: left bottom; }
.info .finances { background-size: auto 60%; background-position: left bottom; }
}
